<ion-header style="position: fixed; top: 0; right: 0; width: 100%">
  <div
    style="
      display: flex;
      width: 100%;
      justify-content: space-between;
      background-color: blueviolet;
      padding: 10px;
    "
  >
    <a href="/" style="text-decoration: none; color: blanchedalmond"
      ><div
        style="
          font-size: 20px;
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: center;
        "
      >
        Cafetaria
      </div>
    </a>
    <ion-button href="/login" color="tertiary" shape="round"
      ><p style="color: blanchedalmond">Login</p></ion-button
    >
  </div>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
